#banner-main--text {
	z-index: 1;
	color: white;
	text-align: center;
	font-size: 90px;
	line-height: 100px;
	font-weight: bold;
	margin-bottom: -100%;
}

@media (max-width: 767px) {
	#banner-main--text {
		font-size: 50px;
	}
}

#test-background img {
	width: 100%;
	border-top: 10px solid white;
}
